
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        @apply p-3
        cursor-pointer
        font-bold
        hover:bg-zinc-300
        hover:text-white
    
    }
    h1{
        @apply text-2xl
        font-bold
    }

    button{
        @apply px-8
        py-3
        bg-fuchsia-500
        hover:bg-transparent
        rounded-full
    }
    body{
        @apply bg-slate-300
    }
    p{
        
    }
}
@layer components{
    .listo{
        @apply w-full
        border-b-2
        border-zinc-400
        text-center
    }
    .container{
        @apply mx-auto
        w-[80%]
        p-3
    }
}